@import "tailwindcss";


@keyframes glow {
  0%, 100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}
@keyframes glowText {
  0%, 100% {
    text-shadow:
      0 0 10px #110434,
      0 0 20px #03022e,
      0 0 30px #4ade80;
  }
  50% {
    text-shadow:
      0 0 20px #110434,
      0 0 30px #03022e,
      0 0 40px #4ade80;
  }
}

.animate-glowText {
  animation: glowText 3s ease-in-out infinite;
}
